@import url(./root.css);

/* <----------------------------------------------------------- Normal CSS -----------------------------------------------------------------------------> */

.change_text {
    color: var(--text-color);
}

.countdown-text {
    color: var(--text-color);
}

.nav_back {
    background: var(--nav_back_color);
}

.opaci_70 {
    opacity: 70%;
}

.opa_60 {
    opacity: 60%;
}

.lg_text {
    background: var(--lg_text) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.accoridon_items {
    backdrop-filter: blur(20px);
}

.line {
    width: 1px;
    height: 35px;
    background: var(--color-white);
    opacity: 60%;
}

/* <----------------------------------------------------------- Backimages or BackColor ----------------------------------------------------------------> */

.hero_back_img {
    background-image: url("../images/png/hero_image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.utility_back {
    background-image: url("../images/png/utility_back_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.play_sec_back {
    background: var(--black-color);
}

.glided_back_image {
    background-image: url("../images/png/glided_sec_back_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.token_sec {
    background-image: url("../images/png/token_back_image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.uniswap_back_image {
    background-image: url("../images/png/uniswap_back_image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer_back {
    background-image: url("../images/png/footer_back_image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* <----------------------------------------------------------- width and height -----------------------------------------------------------------------> */
.max_w_text {
    max-width: 1024px;
    min-height: 132px;
}

.w_h_treasure_image {
    width: 341px;
    height: 365px;
}

.max_w_glided_text {
    max-width: 940px;
    min-height: 248px;
}

.token_box {
    max-width: 312px;
    min-height: 181px;
    border-radius: 13px;
    background: var(--token_box_back);
    transition: all 300ms linear;
}

.power_Sec .token_box {
    max-width: 312px;
    min-height: 214px;
    border-radius: 13px;
    background: var(--token_box_back);
    transition: all 300ms linear;
}

.dot_image {
    width: 4px;
    height: 4px;
    background: var(--color-white);
    border-radius: 50%;
}

.svg_box {
    width: 31px;
    height: 31px;
    transition: all 300ms linear;
}

.white_footer_line {
    width: 100%;
    height: 1px;
    background: var(--color-white);
    opacity: 10%;
    margin-top: 48px;
}

.w_changes {
    width: 50%;
    height: 60%;
}

/* <-----------------------------------------------------------spacings --------------------------------------------------------------------------------> */

.gap_37px {
    gap: 37px;
}

.gap_40px {
    gap: 40px;
}

.mt_21px {
    margin-top: 21px;
}

.mb_41px {
    margin-bottom: 41px;
}

.mt_10px {
    margin-top: 10px;
}

.gap_10px {
    gap: 10px;
}

.mb_20px {
    margin-bottom: 20px;
}

.gap_13px {
    gap: 13px;
}

.mb_22px {
    margin-bottom: 22px;
}

.mb_27px {
    margin-bottom: 27px;
}

.pb_faq {
    padding-bottom: 226px;
}

.py_hero_media {
    padding-bottom: 129px;
}

.my_19px {
    margin-top: 19px;
    margin-bottom: 19px;
}

.py_utility_sec_media {
    padding-top: 105px;
    padding-bottom: 194px;
}

.-mt-5px {
    margin-top: -5px;
}

.pb_59px {
    padding-bottom: 59px;
}

.pb_earn_sec {
    padding-bottom: 110px;
}

.uniswap_py {
    padding-top: 300px;
    padding-bottom: 220px;
}

.py_glided {
    padding-top: 228px;
    padding-bottom: 228px;
}

.mt_13px {
    margin-top: 13px;
}

.py_token {
    padding-top: 130px;
    padding-bottom: 228px;
}

.py_powered {
    padding-top: 58px;
    padding-bottom: 192px;
}

.mb_6px {
    margin-bottom: 6px;
}

.px_power_box {
    padding-left: 20px;
    padding-right: 20px;
}

.px_19px {
    padding-left: 19px;
    padding-right: 19px;
}

.gap_6px {
    gap: 6px;
}

/* <-----------------------------------------------------------btn changes -----------------------------------------------------------------------------> */

.button_nav {
    background: var(--nav_btn-lg);
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 79px;
    border: 1px solid transparent;
    box-shadow: 0px 8px 30px 0px var(--text-color);
    transition: all 300ms linear;
}

.button_header_norm {
    background: transparent;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 79px;
    border: 1px solid var(--color-white);
    box-shadow: 0px 8px 30px 0px var(--text-color);
    transition: all 300ms linear;
}

/* <----------------------------------------------------------- positions ------------------------------------------------------------------------------> */

.back_image_pos {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.brdr {
    position: relative;
}

.footer_link {
    position: relative;
}

.left_smoke_pos {
    position: absolute;
    left: 0;
    bottom: 0;
}

.right_smoke_pos {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* <----------------------------------------------------------- borders --------------------------------------------------------------------------------> */

.border_lg::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 13px;
    padding: 5px;
    background: var(--lg_text);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.token_box::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: var(--border_token);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.brdr::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 3px;
    padding: 1px;
    background: var(--accord_brdr);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.svg_box {
    position: relative;
    background: var(--footer_svg_box);
}

.svg_box::after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.78px;
    background: var(--accord_brdr);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.brdr_thick {
    position: relative;
}

.brdr_thick::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 3px;
    padding: 3px;
    background: var(--accord_brdr);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

/* <----------------------------------------------------------- before and after -----------------------------------------------------------------------> */

.glided_text::before {
    content: "";
    position: absolute;
    left: -68px;
    top: -56px;
    width: 102px;
    height: 102px;
    background-image: url(../images/svg/before_comma.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.glided_text::after {
    content: "";
    position: absolute;
    right: 182px;
    bottom: -56px;
    width: 102px;
    height: 102px;
    background-image: url(../images/svg/after_comma.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer_link::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: var(--nav_btn-lg);
    width: 0;
    height: 2px;
    bottom: -5px;
    transition: all 300ms linear;
}

/* <----------------------------------------------------------- Timeline -------------------------------------------------------------------------------> */
/* <----------------------------------------------------------- slick slider ----------------------------------------------------------------------------> */



/* <----------------------------------------------------------- Hover Effects --------------------------------------------------------------------------> */


.nav_link:hover {
    -webkit-text-stroke: thin;
}

.button_nav:hover {
    background: transparent;
    border: 1px solid white;
    box-shadow: none;
}

.button_header_norm:hover {
    background: var(--nav_btn-lg);
    box-shadow: none;
}

.token_box:hover {
    background: var(--token_hover);
    box-shadow: 0px 0px 63.22px 0px #1BABFE;
}

.svg_box:hover {
    box-shadow: 0px 0px 63.22px 0px #1BABFE;
    transform: translateY(-10px);
}

.footer_link:hover::after {
    width: 100%;
    bottom: -3px;
}

/* <----------------------------------------------------------- Accordion ----------------------------------------------------------------> */


.disp_text {
    display: none;
    /* max-width: 786px; */
    padding-bottom: 16px;
}

.accoridon_items {
    max-width: 1038px;
    min-height: 75px;
    background: var(--accord_back);
    border-radius: 3px;
}

/* <----------------------------------------------------------- AOS ------------------------------------------------------------------------------------> */

/* <----------------------------------------------------------- Preloader ------------------------------------------------------------------------------> */

.loading_screen {
    background-image: url(../images/png/footer_back_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    left: 0;
    top: 0;
    transition: all 300ms linear;
}

.svg_earth {
    width: 300px;
}

.-top_105 {
    top: -105% !important;
}

/* <----------------------------------------------------------- scroll to top --------------------------------------------------------------------------> */

.scroll_top,
.scroll_box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: all 300ms linear;
}

.scroll_top {
    bottom: 20px;
    right: 20px;
}

.scroll_box img {
    transform: rotate(180deg);
}

.scroll_box:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 63.22px 0px #1BABFE;
}

/* <----------------------------------------------------------- Progress -------------------------------------------------------------------------------> */

.header {
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    background-color: var(--color-white);
}

.progress-container {
    width: 100%;
    height: 8px;
    background: var(--nav_back_color);
}

.progress-bar {
    height: 8px;
    background: var(--nav_btn-lg);
    width: 0%;
}

/* <----------------------------------------------------------- z-indexes ------------------------------------------------------------------------------> */

/* <----------------------------------------------------------- animated Button ------------------------------------------------------------------------> */



/* <----------------------------------------------------------- animated Menuicon ----------------------------------------------------------------------> */
/* <----------------------------------------------------------- timeline codepen  ----------------------------------------------------------------------> */
/* #process {
    margin-bottom: 40px;
    overflow-x: hidden;
} */

#process .section-heading {
    margin-bottom: 40px;
}

.steps-pane img {
    height: 100px;
    margin-top: 18px;
    -ms-transform: skewX(-15deg);
    /* IE 9 */
    -webkit-transform: skewX(-15deg);
    /* Safari */
    -o-transform: skewX(-15deg);
    /* Standard syntax */
    -moz-transform: skewX(-15deg);
}

.pane-warp {
    height: 140px;
    width: 25px;
    margin-left: 20%;
    margin-top: 20px;
    -ms-transform: skewX(15deg);
    /* IE 9 */
    -webkit-transform: skewX(15deg);
    /* Safari */
    -o-transform: skewX(15deg);
    /* Standard syntax */
    -moz-transform: skewX(15deg);
}

.steps-pane {
    height: 140px;
    width: 140px;
    margin-left: 30px;
    box-shadow: 7px 0px 5px #bcbcbc;
}

.inverted-pane-warp {
    /* height: 140px; */
    /* width: 25px; */
    /* margin-left: 20%; */
    /* -ms-transform: skewX(-15deg); */
    /* IE 9 */
    /* -webkit-transform: skewX(-15deg); */
    /* Safari */
    /* -o-transform: skewX(-15deg); */
    /* Standard syntax */
    /* -moz-transform: skewX(-15deg); */
}

.inverted-steps-pane {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

/* .inverted-steps-pane p {
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    -o-transform: skewX(15deg);
    -moz-transform: skewX(15deg);
    padding: 20px 10px 10px 10px;
} */

@media(min-width: 992px) {
    .steps-timeline {
        /* border-top: 2px solid #ffffff2c; */
        padding-top: 20px;
        margin-top: 40px;
        /* margin-left: 3%; */
        margin-right: 3%;
    }

    .steps-timeline {
        position: relative;
    }

    .steps-timeline::after {
        content: "";
        position: absolute;
        width: 60%;
        height: 2px;
        background: rgba(255, 255, 255, 0.1);
        top: 0;
        left: 15px;
        z-index: 0;
    }

    .steps-one,
    .steps-two,
    .steps-three,
    .steps-four,
    .steps-five {
        float: left;
        width: 30%;
        margin-top: -58px;
    }

    .steps-three {
        position: relative;
    }

    .steps-three::after {
        content: "";
        position: absolute;
        width: 225%;
        height: 2px;
        background-image: url("../images/png/line_image.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        top: 38px;
        left: 15px;
        z-index: 0;
    }

    .step-wrap {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: var(--nav_btn-lg);
        /* margin-left: 39%; */
        z-index: 3;
        position: relative;
        box-shadow: 0px 0px 63.22px 0px #1BABFE;
    }

    .verticle-line {
        position: absolute;
        height: 57px;
        width: 5px;
        margin-left: 10px;
        marker-top: 10px;
    }

    .steps-stops {
        height: 25px;
        width: 25px;
        margin: 11px 10.1px;
        border-radius: 50%;
        background: transparent;
    }

    .end-circle {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        position: absolute;
        margin-top: 19px;
        /* margin-left: -10px; */
    }

    .inverted-end-circle {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        position: absolute;
        margin-top: 19px;
        margin-left: 18.1%;
    }

    .mt_media {
        margin-top: 48px;
    }

    .step_d_max_visible {
        display: none;
    }
}

@media(max-width: 991px) {
    #process .container-fluid {
        width: 50%;
    }

    .steps-timeline {
        border-left: 5px double var(--text-color);
        margin-left: 35px;
    }

    .step_three_d_none {
        display: none;
    }

    .step_d_max_visible {
        margin-top: 0 !important;
        margin-left: -4px !important;
    }

    .steps-one,
    .steps-two,
    .steps-three,
    .steps-four,
    .steps-five {
        margin-left: -49px;
    }

    .steps-two,
    .steps-three {
        margin-top: 48px;
    }

    .steps-one .step-wrap {
        margin-left: 11px;
    }

    .steps-two .step-wrap {
        margin-left: 11px;
    }

    .steps-two {
        padding-bottom: 48px;
    }

    .step-wrap,
    .steps-stops {
        float: left;
    }

    .steps-timeline {
        border-left: 2px solid #333333;
        margin-left: 30px;
    }

    .pane-warp {
        margin-left: 30%;
    }

    .inverted-pane-warp {
        margin-left: 28%;
    }

    /* .verticle-line {
        position: absolute;
        width: 125px;
        height: 5px;
        margin-left: 5px;
        margin-top: 10px;
    } */

    .steps-stops {
        height: 25px;
        width: 25px;
        margin: 11px 10px;
        border-radius: 50%;
        background: transparent;
    }

    .step-wrap {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: var(--nav_btn-lg);
        /* margin-top: 50px; */
        margin-left: -2px;
        box-shadow: 0px 0px 63.22px 0px #1BABFE;
    }

    .end-circle {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        position: absolute;
        margin-top: -45px;
        /* margin-left: 15px; */
    }

    .inverted-end-circle {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        position: absolute;
        margin-top: 280px;
        margin-left: 15px;
    }
}

@media (max-width: 600px) {
    #process .container-fluid {
        width: 90%;
    }
}